{% load static %}
{% block title %} Admin {% endblock title %}
{% block content %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'admin_dashboard/admin_dashboard.css' %}">
    
    <div class="dashboard-container1">
        <!-- Sidebar -->
        {% include 'admin_dashboard/sidebar.html' %}

        <!-- Main Content -->
        <main class="main-content1" id="mainContent1">
            <div class="top-bar1">
                <h1 class="page-title1" id="pageTitle1">📊 Admin Dashboard</h1>
                
                <!-- Admin Info  -->
                <div class="admin-info1" id="adminProfileInfo" style="display: none;">
                    <div class="user-avatar-large">
                        {% if user.profile_picture %}
                            <img src="{{ user.profile_picture.url }}" alt="{{ user.name }}" />
                        {% else %}
                            <span>{{ user.first_name|first|upper }}</span>
                        {% endif %}
                    </div>
                    <div class="admin-details1">
                        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                        <p>{{ user.role }}</p>
                    </div>
                </div>
                
                <button class="btn1 btn-primary1" id="topActionBtn1" style="display: none;">
                    <span>➕</span><span>Add New</span>
                </button>
            </div>

            <!-- Dashboard Page -->
            {% include 'admin_dashboard/dashboard_page.html' %}

            <!-- All CRs Page -->
            {% include 'admin_dashboard/all_crs_page.html' %}

            <!-- Reviews Page-->
            {% include 'admin_dashboard/reviews_page.html' %}

            <!-- Users -->
            {% include 'admin_dashboard/users_page.html' %}

            <!-- Universities -->
            {% include 'admin_dashboard/universities_page.html' %}

            <!-- Departments -->
            {% include 'admin_dashboard/departments_page.html' %}

            <!-- Settings -->
            {% include 'admin_dashboard/settings_page.html' %}
        </main>
    </div>

    {% if messages %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        {% for message in messages %}
            showNotification("{{ message|escapejs }}", "{{ message.tags }}");
        {% endfor %}
        });
    </script>
    {% endif %}

    <script src="{% static 'admin_dashboard/admin_dashboard.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>
{% endblock content %}